*{
	margin:100;
	padding: 100;
}
.cart-page{
	margin: 80px auto;

}
 table{
 	margin: 60px;
 	padding: 20px;
	width:90%;
	border-collapse: collapse;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;

}

p {
    margin: 0 0 1px;
    margin-left: 0px;
}
th{
	text-align: left;
	padding: 5px;
	color: white;
	background:#5D9CEC;
	font-weight: 10px;

}
td{
	padding: 10px 5px;

}
td small{
	color: solid black;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;

}
td a{
	color: #5D9CEC;;
	font-weight: 10px solid black;

}
td img{
	width: 300px;
	height: auto;
	margin: 10px;
}
.btn{

    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    padding: 7px 35px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    color: #5D9CEC;
}

.total-price{
	margin: 60px;
	display: flex;
	justify-content: flex-end;
}
.total-price table
{
	margin-right: 20px;
	border-top: 3px solid #5D9CEC;
	width: 100%;
	max-width: 500px;

}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}

